body, html {
  height: 100%;
}



.bg-img {
  /* The image used */
  background-image: url("mauawellness.jpg");

}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #eb9723;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #eb9723;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Style the header */
header {width: auto; height: auto;

  background-color: #eb9723;
  padding: 10px;
  text-align: center;
  border: 15px;
  font-size: 15px;
  color: white;
  text-decoration-color: white;
}

/* The navigation bar */
.navbar a{
  overflow: hidden;
  background-color: #eb9723;
  position: center; /* Set the navbar to fixed position */
  top: 100%; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float:  middle;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 8px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #736357;
  color: black;
}

/* Main content */
.main {
  margin-top: auto; /* Add a top margin to avoid content overlay */
}
nav{float: auto;
width: auto;
height: auto;}
/* Style the footer */
